* {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  box-sizing: border-box;
}

.navb{
  width: 100%;
  height: 70px;
  background:linear-gradient(rgb(230, 68, 230),rgb(54, 139, 219)) ;
}

.logo {
  color: whitesmoke;
  font-size: 45px;
  font-weight: bold;
  padding: 0px 100px;
  line-height: 60px;

}

.navb ul{
  float: right;
  margin-right: 30px;

}

.navb ul li{
  display: inline-block;
  line-height:  70px; ;
  

}

.navb ul li a{
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: whitesmoke;
  justify-content: space-between;
  padding-right: 30px;
  
}

.navb ul li a:hover{
        border-radius: 10px;
        background-color: #43138a;
        padding: 5px 10px;
        transition: .5s;
}

.content{
  width: 100%;
  height: 100hv;

}

    
body{
    background: #eee5e9;
}
.grid{
    padding-top: 180px;
    margin-left: 300px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 100px;
    align-items: center;
}
.grid article{
    background: white;
    border-radius: 20px;
    text-align: center;
    width:400px;
    height: 300px;
    transition: transform .3s;
}
.grid article:hover{
    transform: translateY(5px);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.6);
}
.grid article img{
    width:50%;
    
}
.text{
    padding: 10px 10px 20px;
    font-weight: 600;

}
.text h2{
    text-transform: uppercase;
}
.text a{
    background:linear-gradient(rgb(230, 68, 230),rgb(54, 139, 219)) ;
    border-radius: 20px;
    color: white;
    padding: 10px 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

